# Default ignored files
/shelf/*
/.idea/*
# Datasource local storage ignored files
/dataSources/*
# Editor-based HTTP Client requests
/httpRequests/*
/target/classes/**/*
/leetcode.iml

# maven target
target/