# Default ignored files
/shelf/
/.idea/*.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/target/classes/mdeium/*.class
/.idea/leetcode/editor.xml
/target/classes/fun/*.class
/target/classes/*.class
